.background{background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png');background-repeat: no-repeat;background-size: cover;
height:200vh;}
.d{border-top-left-radius: 10px;border-top-right-radius: 10px;font-size: 16px;background-color:#ffffff;padding: 20px;}
.h{color:#5752ab;font-family: Bree Serif; }
.p{font-family: "Roboto"}
.b{background-color: #5752ab;border-color: #d7dfe9}